__pycache__/
*.py[cod]
*$py.class
.Python
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
.tox/
.coverage
.coverage.*
.cache
*,cover
.hypothesis/
.webassets-cache
.scrapy
.ipynb_checkpoints
.python-version
.env
*/.env
.spyderproject
.ropeproject
*.log
log/
models/*.txt
models/*.pkl
node_modules/
