<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="./public/d3.min.js"></script>
    <script type="text/javascript" src="./public/d3_test.js"></script>
  </head>
  <body>
    <div class="chart"></div>
  </body>
</html>
