<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h2>Here you can find a list of contents!</h2>
    <table border="1">
      <thead>
        <col width="30%">
        <col width="40%">
        <col width="30%">
      </thead>
      <tbody>
        <tr>
          <td>URL</td>
          <td>Description</td>
          <td>Parameters</td>
        </tr>
        <tr>
          <td><a href="/songs" id="song_limit--href" target="_blank">/songs</a></td>
          <td>
            It's a GET endpoint that returns a JSON with the training set, using the parameter limit it's possible to return less songs.
          </td>
          <td>
            <label name="song_limit">Limit of songs</label>
            <input type="number" min="0" step="1" name="song_limit" id="song_limit--input">
          </td>
        </tr>
        <tr>
          <td><a href="/playlists" target="_blank">/playlists</a></td>
          <td>
            Is the core of the project, a POST endpoint where, once authenticated, a user can classify a fully featured spotify playlist using a model in 2 different classes (right now, only -happy- or -sad-).
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" src="./public/contents.js"></script>
  </body>
</html>
